<nav class="navbar bg-primary" data-bs-theme="dark">
    <a href="/logout" class="for_href">Exit from your account</a>
    {{#ifEqual user.fname underfined}}
        <a href="/add_data" class="for_href" title="Add your own data">Add data profile</a>
        {{else}}
        <p style="color:white; font: bold;">
            <span>{{user.fname}}</span>
            <span>{{user.lname}},</span>
            <span>Gender: {{user.gender}},</span>
            <span>Your age: {{user.age}}</span>
            </p>
    {{/ifEqual}}
    <div>
        <img class="avatarka" src="user.png" alt="{{user.username}}" style="postion:absolute; bottom:91%; left:89%;">
        <ul class="hover-object">
            <li><a href="/set_data" style="text-decoration: none;">Change data profile</a></li>
        </ul>
    </div>
             
    <a href="/water" class="for_href">Add new data</a>
</nav>
        {{#if flash.success}}
            <div class="alert alert-success">{{flash.success}}</div>
        {{/if}}
        {{#if response.error}}
            <div class="alert alert-danger">{{flash.error}}</div>
        {{/if}}
<div>
  <div class="users">
    <h1>Welcome back, {{user.username}}, do you wish add or different your data?</h1>
  </div>
      <div class="container">
  <div class="card">
      <div class="card-header">
          <div class="row">
              <div class="col"> Your data </div>
          </div>
      </div>

      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered">
                  <tr>
                      <th>name_place</th>
                      <th>coordinateX</th>
                      <th>coordinateY</th>
                      <th>year</th>
                      <th>season</th>
                      <th>chemical_index</th>
                      <th>result</th>
                      <th>comment</th>
                  </tr>
                  {{#each water}}
                      <tr>
                          <td>{{ this.name_place }}</td>
                          <td>{{ this.coordinateX }}</td>
                          <td>{{ this.coordinateY }}</td>
                          <td>{{ this.year }}</td>
                          <td>{{ this.season }}</td>
                          <td>{{ this.chemical_index }}</td>
                          <td>{{ this.result }}</td>
                          <td>{{this.comment}}</td>
                          <td><a class="for_href" href="/set_water/{{this._id}}" title="change your data">Change</a></td>
                      </tr>
                      
                  {{/each}}
              </table>
          </div>
      </div>
  </div>
</div>
</div>
<script>
    let avatarka = document.querySelector('.avatarka');
    let list = document.querySelector('.hover-object');
    avatarka.addEventListener('mouseenter', function() {
        list.style.display = 'block';
    });
    list.addEventListener('mouseleave', function(event) {
        if (!event.relatedTarget || !list.contains(event.relatedTarget)) {
        list.style.display = 'none';
        }
    });

    avatarka.addEventListener('mouseleave', function(event) {
    if (!event.relatedTarget || !list.contains(event.relatedTarget)) {
        list.style.display = 'none';
    }
});

    
</script>
